{
  "extends": ["react-app"],
  "plugins": ["@emotion"],
  "rules": {
    "@emotion/pkg-renaming": "error",
    "@emotion/jsx-import": "off",
    "@emotion/no-vanilla": "error",
    "@emotion/import-from-emotion": "error",
    "@emotion/styled-import": "error"
  }
}
